@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

html, body {
    margin:0;
    padding:0;
    height:100vh;
    }

body{
    background-attachment: fixed;
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
    text-align: center;
}

#header{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

